<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.l.mapper.GoodMapper">

        <select id="selGoodById" parameterType="String" resultType="com.l.pojo.Good">
                select * from good where gID = #{0}
        </select>
        
        <insert id="insGood" parameterType="com.l.pojo.Good">
                insert into good (gID,gName,gNum,gInprice,gExplain,gSatime,sID,gStatus,supName)
                 VALUES(#{gID},#{gName},#{gNum},#{gInprice},#{gExplain},#{gSatime},#{sID},#{gStatus},#{supName})
        </insert>

        <update id="updGoodById" parameterType="com.l.pojo.Good">
                update good set gNum=#{gNum},gSatime=#{gSatime} where gID=#{gID}
        </update>

        <select id="selGoodByMore" resultType="com.l.pojo.Good">
                select * from good where gName=#{0} and sID=#{1} and supName=#{2}
        </select>

        <select id="selGoods" parameterType="Map" resultType="com.l.pojo.Good">
                select * from good
                <where>
                        <if test="gName!=null and gName!=''">
                                and gName=#{gName}
                        </if>
                         <if test="sID!=null and sID!=''">
                                and sID=#{sID}
                        </if>
                         <if test="supName!=null and supName!=''">
                                and supName=#{supName}
                         </if>
                </where>
        </select>

</mapper>
