<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.l.mapper.GoodListMapper">
        <select id="selAllGoodList" resultType="com.l.pojo.GoodList">
                select * from goodlist
        </select>

        <insert id="insGoodList" parameterType="com.l.pojo.GoodList">
                insert into goodlist values(DEFAULT ,#{goodName},#{gOutprice})
        </insert>

        <delete id="delGoodListById" parameterType="int">
                delete from goodlist where glId=#{0}
        </delete>

        <update id="updGoodListById" parameterType="com.l.pojo.GoodList">
                update goodlist set goodName=#{goodName},gOutprice=#{gOutprice} where glId=#{glId}
        </update>
        
        <select id="selGoodListById" parameterType="int" resultType="com.l.pojo.GoodList">
                select * from goodlist where glId=#{0}
        </select>


</mapper>
