<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.l.mapper.InListMapper">
        <insert id="insInList" parameterType="com.l.pojo.InList">
                insert into inlist (ILID,gID,ILprice,ILNum,ILTotal,ILDate,ILFrom,ILBy,ILComfirm,sID,ILStatus,goodName)
                 VALUES (#{ILID},#{gID},#{ILprice},#{ILNum},#{ILTotal},#{ILDate},#{ILFrom},#{ILBy},#{ILComfirm},#{sID},#{ILStatus},#{goodName})
        </insert>
    
    
        <select id="selNoDeal" parameterType="String" resultType="com.l.pojo.InList">
            select ILID,ILBy,ILComfirm,ILStatus from inlist where ILStatus = 0 and (ILComfirm =#{0} or ILComfirm is null or ILComfirm = '') group by ILID
        </select>

        <select id="selInListById" parameterType="String" resultType="com.l.pojo.InList">
            select * from  inlist where ILID=#{0}
        </select>
    <update id="updInListOinion" >
        update  inlist  set ILStatus =1,orderoOinion=#{0} where ILID=#{1}
    </update>

    <update id="updInListOrder" parameterType="com.l.pojo.InList">
        update inlist set gID=#{gID},ILStatus=1,orderOinion=1,ILComfirm=#{ILComfirm} where goodName=#{goodName} and ILBy=#{ILBy} and ILDate=#{ILDate} and sID=#{sID} and ILFrom=#{ILFrom}
    </update>

    <select id="selInListByILBy" parameterType="Map" resultType="com.l.pojo.InList">
        select * from inlist
        <where>
            <if test="ILBy!=null and ILBy!=''">
               and ILBy=#{ILBy}
            </if>
            and ILDate &gt;= #{startTime}
            and ILDate &lt; #{endTime}
        </where>
        GROUP BY ILID
    </select>

    <select id="selSaveInList" resultType="com.l.pojo.InList">
        select sum(ILNum) as ILNum,SUM(ILTotal) as ILTotal
        <if test="sID!=null and sID!=''">
            ,sID
        </if>
        <if test="goodName!=null and goodName!=''">
            ,goodName
        </if>
        from inlist
        <where>
            and ILStatus='1'
            and orderOinion='1'
            <if test="sID!=null and sID!=''">
                and sID=#{sID}
            </if>
            <if test="goodName!=null and goodName!=''">
                and goodName=#{goodName}
            </if>
            and ILDate &gt;= #{startTime}
            and ILDate &lt; #{endTime}
        </where>
    </select>

</mapper>
