<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.l.mapper.OutListMapper">
        <insert id="insOutList" parameterType="com.l.pojo.OutList">
                insert into Outlist (olId,olDate,gID,olPrice,olNum,olTotal,olDestin,olBy,olComfirm,sID,olStatus,goodName,supName)
                 VALUES (#{olId},#{olDate},#{gID},#{olPrice},#{olNum},#{olTotal},#{olDestin},#{olBy},#{olComfirm},#{sID},#{olStatus},#{goodName},#{supName})
        </insert>

    <select id="selNoDeal" parameterType="String" resultType="com.l.pojo.OutList">
            select olId, olBy,olComfirm,olStatus from outlist where olStatus = 0 and (olComfirm =#{0} or olComfirm is null or olComfirm = '') group by olId
    </select>
    
    <select id="selOutListById" parameterType="String" resultType="com.l.pojo.OutList">
        select * from outlist where olId = #{0}
    </select>

    <update id="updOutListOinion" >
        update  outlist  set olStatus =1,orderOinion=#{0} where olId=#{1}
    </update>

    <update id="updOutListOrder" parameterType="com.l.pojo.OutList">
        update outlist set orderOinion=1,olStatus = 1,olComfirm=#{olComfirm} where goodName=#{goodName} and olBy=#{olBy} and olDate=#{olDate} and sID=#{sID}
    </update>

    <select id="selOutListByILBy" parameterType="Map" resultType="com.l.pojo.OutList">
        select * from outlist
        <where>
            <if test="olBy!=null and olBy!=''">
                and olBy=#{olBy}
            </if>
            <if test="olComfirm!=null and olComfirm!=''">
                and olComfirm=#{olComfirm}
            </if>
            <if test="olDestin!=null and olDestin!=''">
                and olDestin=#{olDestin}
            </if>
            <if test="goodName!=null and goodName!=''">
                and goodName=#{goodName}
            </if>
             <if test="sID!=null and sID!=''">
                and sID=#{sID}
            </if>
            and olDate &gt;= #{startTime}
            and olDate &lt; #{endTime}
            GROUP BY olId
        </where>
    </select>

    <select id="selSaveOutList" parameterType="Map" resultType="com.l.pojo.OutList">
        select sum(olNum) as olNum,SUM(olTotal) as olTotal
        <if test="sID!=null and sID!=''">
            ,sID
        </if>
        <if test="goodName!=null and goodName!=''">
            ,goodName
        </if>
        from outlist
        <where>
            and olStatus='1'
            and orderOinion='1'
            <if test="sID!=null and sID!=''">
                and sID=#{sID}
            </if>
            <if test="goodName!=null and goodName!=''">
                and goodName=#{goodName}
            </if>
            and olDate &gt;= #{startTime}
            and olDate &lt; #{endTime}
        </where>
    </select>


</mapper>
