<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.l.mapper.OutListMapper">
        <insert id="insInList" parameterType="com.l.pojo.InList">
                insert into inlist (olId,olDate,gID,olPrice,olNum,olTotal,olDestin,olBy,olComfirm,sID,olStatus,goodName)
                 VALUES (#{olId},#{olDate},#{gID},#{olPrice},#{olNum},#{olTotal},#{olDestin},#{olBy},#{olComfirm},#{sID},#{olStatus},#{goodName})
        </insert>

    <select id="selNoDeal" parameterType="String" resultType="com.l.pojo.OutList">
            select olId, olBy,olComfirm,olStatus from outlist where olStatus = 0 and olComfirm =#{0} or olComfirm is null or olComfirm = '' group by olId
    </select>

</mapper>
