<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.l.mapper.SupplyMapper">
      <select id="selAllSupply" resultType="com.l.pojo.Supply">
              select * from supply
      </select>

      <insert id="insSupply" parameterType="com.l.pojo.Supply">
          insert into supply values(default ,#{supName},#{supIncharge},#{supTel})
      </insert>

    <update id="updSupplyById" parameterType="com.l.pojo.Supply">
        update supply set supName=#{supName} ,supIncharge=#{supIncharge},supTel=#{supTel} where  supId=#{supId}
    </update>

    <delete id="delSupplyById" parameterType="int">
        delete from supply where supId=#{0}
    </delete>

    <select id="selSupplyById" parameterType="int" resultType="com.l.pojo.Supply">
                select * from supply where supId = #{0}
     </select>
</mapper>
