<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.l.mapper.UserMapper">

    <update id="updUserById" parameterType="com.l.pojo.User">
        update user
        <set>
            <if test="uPwd!=null and uPwd!=''">
                uPwd = #{uPwd},
            </if>
            <if test="uName!=null and uName!=''">
                uName = #{uName},
            </if>
            <if test="uAddr!=null and uAddr!=''">
                uAddr = #{uAddr},
            </if>
            <if test="uPhoto!=null and uPhoto!=''">
                uPhoto = #{uPhoto},
            </if>
            <if test="uTel!=null and uTel!=''">
                uTel = #{uTel},
            </if>
        </set>
        where uID = #{uID}
    </update>


    <update id="updUserHeadImgById" >
         update user set uPhoto=#{0} where uID = #{1}
    </update>

    <select id="selUserById" parameterType="int" resultType="com.l.pojo.User">
        select * from user where uID=#{0}
    </select>

    <insert id="insUser" parameterType="com.l.pojo.User">
        insert into user (uAccount,uPwd,uName,uTel,uAddr,uHiredate,rID,uStatus)
         select #{uAccount},#{uPwd},#{uName},#{uTel},#{uAddr},#{uHiredate},#{rID},#{uStatus}
		from dual where not exists(SELECT #{uAccount} FROM user WHERE uAccount=#{uAccount})
    </insert>

    <select id="selAllUser" resultType="com.l.pojo.User" parameterType="com.l.pojo.User">
        select * from user
        <where>
            <if test="uName!=null and uName!=''">
                and uName like "%"#{uName}"%"
            </if>
        </where>
    </select>

    <update id="updUserManageById" parameterType="com.l.pojo.User">
        update user
        <set>
            <if test="uPwd!=null and uPwd!=''">
                uPwd = #{uPwd},
            </if>
            <if test="uName!=null and uName!=''">
                uName = #{uName},
            </if>
            <if test="uAddr!=null and uAddr!=''">
                uAddr = #{uAddr},
            </if>
            <if test="uTel!=null and uTel!=''">
                uTel = #{uTel},
            </if>
                rID = #{rID}, uStatus = #{uStatus}
        </set>
        where uID = #{uID}
    </update>


    <delete id="delUserById" parameterType="int">
        delete from user where uID=#{0}
    </delete>
    
    <select id="selUserByRid" resultType="com.l.pojo.User">
       select uID,uName from user where rID = '0' or rID='1'and uStatus = '1'
    </select>
    
    

</mapper>
